body {
    background: #EDEEF0;
}

div.jumbotron {
    background-color: #2196F3 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

.jumbotron h1 {
    color: #FFFFFF;
}

.centered-text {
    text-align: center;
}

#home {
    padding-top: 5%;
    padding-bottom: 5%;
}

.home-description {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255,255,255,.7);
    border: 4px groove #2196F3;

}

.home-text {
    font-family: Georgia, Serif;
    font-size: 20px;
    color: #212121;
}

.form-group p {
    padding-top: 12px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #FF5722;
    color: #FF5722;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    box-shadow: 0 4px 8px 0 #BDBDBD, 0 6px 20px 0 #BDBDBD;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #FF5722;
    box-shadow: 0 4px 8px 0 #BDBDBD, 0 6px 20px 0 #BDBDBD;
}

.navbar {
    background-color: #2196F3;
    width: 100%;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 20px;
}

.navbar-brand:hover {
    color: #FF5722;
}

.navbar-right {
    padding-right: 30px;
}

.data {
    padding-top: 80px;
}

.tree-header {
    color: #212121;
    text-align: center;
}

.identified {
    padding-left: 75px;
    text-align: center;
    color: #FF5722;
    font-family: Avantgarde, sans-serif;
    font-size: 18px;
}

.thead-changed-style {
    background: #BBDEFB;
    font-size: 22px;
    color: #212121;
}

.table-shadow {
    box-shadow: 0 4px 8px 0 #BDBDBD, 0 6px 20px 0 #BDBDBD;
}

.time-and-submit {
    position: fixed;
    height: auto;
    left: 5px;
    top: 10%;
    box-shadow: 0 5px 5px 0 #212121, 0 5px 5px 0 #212121;
    background-color: #FF5722;
    padding-bottom: 40px;
}

.bottom-footer {
    position: fixed;
    background-color: #1976D2;
    min-height: 30px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    bottom: 0;
    font-size: 20px;
}

.add-subject-form {
    display: inline;
}

.btn-bottom {
    bottom: 0;
}

.timer {
    font-size: 18px;
    color: #ffffff;
}

nav li:hover {
    background: #2196F3 !important;
}

.floating-error {
    position: fixed;
    height: auto;
    left: 5px;
    bottom: 7%;
    text-align: center;
    opacity: 1;
    font-size: 20px;
    z-index: 10;
}

.false-answer {
    background-color: #F2DEDE;
}
.correct-answer {
    background-color: #AAFFAA;
}
